@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}
.session {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 105px;
    width: 390px;
    height: 60px;
    line-height: 3.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.session span{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
.logout {
    color: white;
    position: absolute;
    right: 50px;
}
.logout h3 a {
    color: #ff4040e0;
}
.header-main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: 70%;
}
.redes-sociais ul li {
    margin-left: 27px;
    float: left;
    list-style: none;
}
.redes-sociais {
    width: 25%;
    float: right;
}
.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu-urls {
    height: 80px;
    border-bottom: 4px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 48px;
}
.menu ul li:hover {
    border-bottom: 2px solid #00bac6;
}
.menu ul li a:hover {
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
    height: 55px;
}
.busca {
    text-align: center;
    width: 30%;
    float: left;
}
.busca input {
    background-image: url('../img/search\ icon.png');
    background-repeat: no-repeat;
    background-position: 93%;
    height: 36px;
    padding-left: 14px;
    width: 190px;
    margin-top: 3px;
    border: 1px solid #d6d6d6;
}
.search-box {
    width: 980px;
    margin: 0 auto;
    font-family: Poppins, sans-serif;
}
.search-box h2 {
    text-align: center;
}

.wrapper {
    max-width: 450px;
    margin: 15px auto 150px auto;
}
.wrapper .search-input {
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}
.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #4bb7ff;
    cursor: pointer;
}
.search-input .autocom-box {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
.autocom-box li {
    list-style: none;
    padding: 6px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}
.search-input.active .autocom-box li {
    display: block;
}
.autocom-box li:hover {
    background: #efefef;
}
